@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --bg-gray: #636c79;
    --light-green: #8bb7a2;
    --bg-dark: #10181d;
    --white: #FFFFFF;
    --white-dim: #cccccc;
    --text-gray: #8c8c8c;
    --text-dark-gray: #424242;
    --text-dark: #1b1d21;

}
body {
    background-color: var(--bg-gray);
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

/* global css */
.btn {
    border: none;
    font-weight: 600;
    padding: 10px 40px;
    color: #FFFFFF;
    cursor: pointer;
}
.btn-outline {
    border: 1px solid var(--light-green);
    background-color: transparent;
}
.btn-fill {
    background-color: var(--light-green);
}
.btn-lg {
    padding: 18px 38px;
    font-size: 16px;
}
.container {
    max-width: 78rem;
    margin: 0 auto;
}
/*----------------------------- navbar section ------------------------------*/
.hamburger {
    display: none;
}
.mobile-list {
    display: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    height: 14vh;
    align-items: center;
}
.logo-container {
    flex: 2;
}
.logo-container img {
    width: 110px;
}
.list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
    flex: 2.4;
    padding-bottom: 30px;
}
.list .list-item a {
    text-decoration: none;
    color: var(--white);
}
.navbar div:last-child {
    margin-bottom: 30px;
}

@media only screen and (max-width: 1108px) {
    .navbar .logo-container {
        flex: 1.2;
    }
}
@media only screen and (max-width: 925px) {
    .navbar {
        padding: 0 20px;
        position: relative;
    }
    .show-navbar {
        display: flex !important;
    }
    .mobile-list {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: absolute;
        top: 90px;
        list-style-type: none;
        background-color: var(--bg-gray);
        left: 0;
        right: 0;
        padding: 20px 0;
    }
    .mobile-list a {
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 500;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .navbar .list {
        display: none;
    }
    .navbar .list ~ div {
        display: none;
    }
}


/*---------------------------- hero section ----------------------------------*/
.hero {
    display: flex;
    justify-content: center;
    gap: 90px;
    align-items: center;
    height: 85vh;
    padding-bottom: 20px;
}
.hero-left .hero-image {
    width: 28rem;
    height: 580px;
    border-radius: 10px;
    overflow: hidden;
}
.hero-left .hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-right h1 {
    font-family: "Raleway";
    font-size: 4.4rem;
    color: var(--white);
    line-height: 75px;
}
.hero-right p {
    color: var(--white-dim);
    margin-top: 40px;
    line-height: 30px;
    font-size: 1.4rem;
    margin-bottom: 40px;
}
.hero-right .contact-email {
    position: relative;
}
.hero-right .contact-email input[type="email"] {
    padding: 28px 190px 28px 20px;
    width: 23rem;
    outline: none;
}
.hero-right .contact-email input[type="email"]::placeholder {
   
    font-size: 16px;
    color: var(--text-gray);
}
.hero-right .contact-email button {
    position: absolute;
    right: 20px;
    top: 10px;
}

@media only screen and (max-width: 1149px) {
    .hero .hero-right h1 {
        font-size: 2.8rem;
        line-height: 50px;
    }
    .hero .hero-right p {
        font-size: 1rem;
        margin-top: 20px;
    }
    .hero .hero-right .contact-email input[type="email"] {
        padding: 22px 190px 22px 20px;
        width: 12rem;
    }
    .hero .hero-right .contact-email button  {
        top: 5px;
        right: 15px;
    }
    .hero-left .hero-image {
        width: 22rem;
        height: 420px;
    }
}
@media only screen and (max-width: 900px) {
    .hero {
        gap: 20px;
        flex-wrap: wrap;
        height: auto;
        align-items: center;
        margin: 0 20px 20px 20px;
        justify-content: center;
    }
    .hero .hero-right h1 {
        text-align: center;
        padding-left: 10px;
        font-size: 2.4rem;
        line-height: 40px;
    }
    .hero .hero-right p {
        text-align: center;
        padding: 0 20px;
        line-height: 24px;
        font-size: 14px;
    }
    .hero .hero-right .contact-email input[type="email"] {
        padding: 22px 200px 22px 20px;
        width: 12rem;
        display: block;
    }

 }

/*------------------------- connecting section ----------------------------*/
.connecting-wrapper {
    background-color: var(--white);
    position: absolute;
    left: 0;
    right: 0;
}
.connecting {
    max-width: 78rem;
    margin: 110px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.connecting h2 {
    font-family: "Raleway";
    font-size: 2.6rem;
    text-align: center;
    color: var(--text-dark);
    padding-bottom: 60px;
}
.connecting .connecting-right .connecting-img {
    max-width: 78rem;
    height: 550px;
    overflow: hidden;
}
.connecting .connecting-right .connecting-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.connecting .connecting-left {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.connecting .connecting-left .connecting-stats {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}
.connecting .connecting-left .connecting-stats .stat h4 {
    font-size: 2.4rem;
    font-weight: 700;
}
.connecting .connecting-left .connecting-stats .stat p {
    font-weight: 600;
    color: var(--text-dark-gray);
    padding-top: 10px;
    padding-bottom: 60px;
    font-size: 17px;
}

@media only screen and (max-width: 740px) {
    .connecting .connecting-left .connecting-stats {
        flex-wrap: wrap;
    }
}


/*--------------------------------- webdesign section ----------------------------*/

.webdesign-wrapper {
    background-color: var(--white);
    position: absolute;
    left: 0;
    right: 0;
    top: 230vh;
    padding-top: 150px;
    
    
}
.webdesign-wrapper h2 {
    font-family: "Raleway";
    font-size: 2.9rem;
    text-align: center;
    color: var(--text-dark);
    padding-bottom: 20px;
    font-weight: 900;
}
.webdesign {
    max-width: 78rem;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: center;
    gap: 90px;
    align-items: center;
    flex-wrap: wrap;
}
.webdesign-left h4 {
    font-size: 2.5rem;
    color: var(--text-dark);
    padding-bottom: 30px;
    font-weight: 700;
    font-family: "Raleway";
}
.webdesign-left p {
    font-size: 1.2rem;
    color: var(--text-gray);
    font-weight: 600;
    padding-bottom: 30px;
}

 .webdesign-img {
    width: 34rem;
    height: 600px;
    overflow: hidden;
}
.webdesign-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

@media only screen and (max-width: 1134px) {
    .webdesign .webdesign-left h4 {
        font-size: 1.8rem;
    }
    .webdesign .webdesign-left p {
        font-size: .9rem;
    }
    .webdesign-right .webdesign-img {
        width: 24rem;
        height: 400px;
    }
}


/*--------------------------------- marketing section ----------------------------*/

.marketing-wrapper {
    background-color: var(--white);
    position: absolute;
    left: 0;
    right: 0;
    top: 350vh;
    padding-top: 50px;
    padding-bottom: 80px;
    
}
.marketing {
    max-width: 78rem;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: center;
    gap: 90px;
    align-items: center;
    flex-wrap: wrap;
}
.marketing-left {
    order: 2;
}
.marketing-left h4 {
    font-size: 2.5rem;
    color: var(--text-dark);
    padding-bottom: 30px;
    font-weight: 700;
    font-family: "Raleway";
}
.marketing-left p {
    font-size: 1.2rem;
    color: var(--text-gray);
    font-weight: 600;
    padding-bottom: 30px;
}
.marketing-right {
    order: 1;
}
.marketing-img {
    width: 34rem;
    height: 500px;
    overflow: hidden;
}
.marketing-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

@media only screen and (max-width: 1134px) {
    .marketing .marketing-left h4 {
        font-size: 1.8rem;
    }
    .marketing .marketing-left p {
        font-size: .9rem;
    }
    .marketing-right .marketing-img {
        width: 24rem;
        height: 400px;
    }
    .marketing-wrapper {
        top: 320vh;
    }
}
@media only screen and (max-width: 870px) {
    .marketing-wrapper  {
        top: 370vh;
    }
    .marketing .marketing-left {
        order: -1;
    }
}


/* judging */
.judging {
    max-width: 78rem;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: center;
    gap: 90px;
    align-items: center;
    padding-top: 40px;
    flex-wrap: wrap;

}
.judging-left h4 {
    font-size: 2.5rem;
    color: var(--text-dark);
    padding-bottom: 30px;
    font-weight: 700;
    font-family: "Raleway";
}
.judging-left p {
    font-size: 1.2rem;
    color: var(--text-gray);
    font-weight: 600;
    padding-bottom: 30px;
}

.judging-img {
    width: 34rem;
    height: 500px;
    overflow: hidden;
}
.judging-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
@media only screen and (max-width: 1134px) {
    .judging .judging-left h4 {
        font-size: 1.8rem;
    }
    .judging .judging-left p {
        font-size: .9rem;
    }
    .judging-right .judging-img {
        width: 24rem;
        height: 400px;
    }
}


/* team section */
.team-section {
    max-width: 78rem;
    margin: 40px auto 40px auto;
    padding-top: 120px;
}
.team-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.team-headline h1 {
    font-size: 2.8rem;
    font-family: "Raleway";
    color: var(--text-dark);
}
.team-headline p {
    font-size: 1.2rem;
    color: var(--text-gray);
    line-height: 30px;
    font-weight: 500;
}
.tema-info {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    flex-wrap: wrap;
}
.team-card .team-image {
    width: 350px;
    height: 440px;
    overflow: hidden;
}
.team-card .team-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.team-card h4 {
    font-size: 1.2rem;
    color: var(--text-dark);
    padding: 15px 0px;
}
.team-card p {
    color: var(--text-dark-gray);
}
.team-btn {
    text-align: center;
    padding-top: 50px;
}
.team-btn button {
    padding: 20px 60px;
}


@media only screen and (max-width: 874px) {
    .team-section {
        max-width: 78rem;
        margin: 40px auto 40px auto;
        padding-top: 180px;
        height: auto;

    }
    .team-section .team-headline p {
        font-size: .9rem;
        margin-top: 10px;
    }
    .tema-info {
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

/*--------------------------- footer section --------------------*/

.footer-wraper {
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--bg-dark);
    top: 652vh;
}
.footer {
    max-width: 78rem;
    margin: 0 auto;
    color: var(--white);
}
 .footer-logo {
    display: flex;
    justify-content: space-between;
    height: 180px;
    align-items: center;
    flex-wrap: wrap;
}
.footer-logo ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.footer-logo ul li span {
    background-color: rgba(255, 255, 255, 0.093);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 500px;
}
.footer-navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 100px;
    flex-wrap: wrap;
}
.navbar-list h4 {
    padding-bottom: 20px;
    font-size: 1.2rem;
    
    font-weight: normal;
}
.navbar-list ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    color: var(--text-gray);
    font-size: 14px;
    font-weight: 600;
}
.navbar-list ul li {
    cursor: pointer;
}
.footer .hr {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.093);
    width: 100%;
    display: block;
}

@media only screen and (max-width: 1150px) {
    .footer-wraper {
        top:760vh
    }
    .footer-navbar {
        gap: 40px;
        justify-content: space-around;
    }
}
@media only screen and (max-width: 857px) {
    .footer-wraper {
        top:900vh
    }
}
@media only screen and (max-width: 700px) {
    .footer-wraper {
        top:980vh
    }
}